In [11]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [7]:
train_final = pd.read_csv (r'D:\Jupyter\Merged\train_final.csv')  

train_final.Date = pd.to_datetime(train_final.Date,format='%Y-%m-%d')
train_final.index = train_final.Date
train_final = train_final.drop('Date', axis=1)
train_final.head()

,Store,Dept,Weekly_Sales,IsHoliday,Size,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Day,Week,A,B,C
Date,,,,,,,,,,,,,,,,
2010-02-05,1,1,24924.50,0,151315,42.31,2.572,211.096358,8.106,2010,2,5,5,1,0,0
2010-02-05,1,2,50605.27,0,151315,42.31,2.572,211.096358,8.106,2010,2,5,5,1,0,0
2010-02-05,1,3,13740.12,0,151315,42.31,2.572,211.096358,8.106,2010,2,5,5,1,0,0
2010-02-05,1,4,39954.04,0,151315,42.31,2.572,211.096358,8.106,2010,2,5,5,1,0,0
2010-02-05,1,5,32229.38,0,151315,42.31,2.572,211.096358,8.106,2010,2,5,5,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-10-26,45,93,2487.80,0,118221,58.85,3.882,192.308899,8.667,2012,10,26,43,0,1,0
2012-10-26,45,94,5203.31,0,118221,58.85,3.882,192.308899,8.667,2012,10,26,43,0,1,0
2012-10-26,45,95,56017.47,0,118221,58.85,3.882,192.308899,8.667,2012,10,26,43,0,1,0
2012-10-26,45,97,6817.48,0,118221,58.85,3.882,192.308899,8.667,2012,10,26,43,0,1,0
2012-10-26,45,98,1076.80,0,118221,58.85,3.882,192.308899,8.667,2012,10,26,43,0,1,0

In [15]:
x=train_final[['Store','Dept','IsHoliday','Size','Temperature','Fuel_Price','CPI',
               'Unemployment','Month','Week','Day','A','B','C']] #Independent Variables
y=train_final['Weekly_Sales'] # Dependent variable

In [55]:
#train-test split
X_train,X_test,y_train,y_test=train_test_split( x, y, test_size=0.30, random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [76]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(random_state=0)
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)

In [81]:
import sklearn.metrics as metrics
print('MAE', metrics.mean_absolute_error(y_test,y_pred))
print('MSE', metrics.mean_squared_error(y_test,y_pred))
accuracy=dt.score(X_test,y_test)
accuracy

MAE 1770.3219640866287
MSE 18438898.97264476

0.9643896291608247

In [82]:
# After Hyper-parameter tunning 
rfr = RandomForestRegressor(n_estimators = 400,max_depth=15,n_jobs=5)        
rfr.fit(X_train,y_train)
y_pred=rfr.predict(X_test)

In [83]:
print('MAE', metrics.mean_absolute_error(y_test,y_pred))
print('MSE', metrics.mean_squared_error(y_test,y_pred))
accuracy=rfr.score(X_test,y_test)
accuracy

MAE 1890.7101312935029
MSE 16456874.17968342

0.968217441113941

In [88]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/29/31/580e1a2cd683fa219b272bd4f52540c987a5f4be5d28ed506a87c551667f/xgboost-1.1.1-py3-none-win_amd64.whl (54.4MB)
Requirement already satisfied: scipy in d:\users\adria\anaconda3\lib\site-packages (from xgboost) (1.5.0)
Requirement already satisfied: numpy in d:\users\adria\anaconda3\lib\site-packages (from xgboost) (1.19.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.1.1

In [92]:
import xgboost as xgb
xgb_clf = xgb.XGBRegressor(nthread= 4, n_estimators= 500, max_depth= 6, learning_rate= 0.5) 
xb = xgb_clf.fit(X_train,y_train)
y_pred=xgb_clf.predict(X_test)

In [93]:
print('MAE', metrics.mean_absolute_error(y_test,y_pred))
print('MSE', metrics.mean_squared_error(y_test,y_pred))
accuracy=xgb_clf.score(X_test,y_test)
accuracy

MAE 1929.079685868955
MSE 13445003.410286501

0.9740341569155198